// Bootstrap core CSS
link(href='css/ua-bootstrap.css?hard-refresh-fix=1', rel='stylesheet')
link(href='css/docs.css', rel='stylesheet')
link(href='ua-brand-icons/ua-brand-icons.css', rel='stylesheet')

// HighlightJS
link(rel='stylesheet', href='css/googlecode.css')
script(src='js/highlight.pack.js')

// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
//if lt IE 9
script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
link(rel='icon', href='img/favicon.png', type='image/x-icon')
